

/* Variablels used */

:root {
    --font-family: 'Lora', serif;
    --font-color: #6B8E23;
    --background-color: #F5F5DC;
}


/* CSS Resset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
   background-image: url('../Images/plant.jpg');
    color: var(--font-color);
    font-family: var(--font-family);
}

    ol, ul {
    list-style: none;
}

button {
    cursor: pointer;
}

input, button, textarea, select {
    font: inherit;
}



















/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */







/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    body {
      background: #772014;
      color: #c5c9e2;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    body {
      background-color: #bb8588;
      color: #02061b;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    body {
      background-color: #8ac4ff;
      color: #3a2403;
    }
  }
  