

/* Variablels used */

:root {
    --font-family: 'Lora', serif;
    --font-color: #ffffff;
    --primary: #6B8E23;
}


/* CSS Resset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


    ol, ul {
    list-style: none;
}

button {
    cursor: pointer;
}

input, button, textarea, select {
    font: inherit;
}
/* end of CSS RESET */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-image: url(../Images/plant.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;  
}

header {
  background-color: var(--primary); 
  color: white; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

nav h2{
  font-size: 24px; 
  font-weight: bold; 
  font-family: var(--font-family);
}


main{
  height: auto;
   padding-bottom: 100px;
}

footer{
   position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary); 
    color: #fff; 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 10px 0; 
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2); 
}


footer a {
    color: #fff; 
    text-decoration: none; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

footer i {
    font-size: 1.5rem; 
    margin-bottom: 5px; 
    color: black;
}

footer p {
    margin: 0; 
    font-size: 1.2rem; 
}


.user-input{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  background: transparent;
  
}



.plant-section, .weather-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant-section h2, .weather-section h2{
  color: #ffffff; 
  font-size: 2rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.plant-section select.full-width {
  
  border: 2px solid var(--primary); 
  border-radius: 5px; 
  padding: 8px; 
  font-size: 16px;
  background-color: white; 
  color: black; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.plant-section button.display-info, .button-p {
  
  background-color: var(--primary); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.plant-section button.display-info:hover {
  
  background-color: var(--primary); 
}

.button-p:hover{
  background-color: var(--primary); 
}

.reveal {
  background-color: #ffffff; 
  color: #000000; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


#weather-select{
  margin: 10px;
  width: 90%;
}

.weather-btn {
  background-color: var(--primary); 
  color: #ffffff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin: 10px;
}

.weather-btn:hover {
  background-color: var(--primary);
}

.form-header{
  color: black;
  
}

.checkPlantInfo{
  font-size: 1.2rem;
}







.grid-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.PlantLoading{
  color: var(--primary);
}

.pwarning{
  color: red;
  font-style: italic;
  text-align: center;
  font-size: 1.2rem;
}

#user-output{
  display: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.user-output-plant , .user-output-weather{

 padding: 1vh;
    border-radius: 6px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    max-width: 90vw;
    min-width: 30vw;
    background: white;

}


.user-output-weather{
  display: none;
}


.image-output {
  min-width: 100px;
  max-width: 200px;
}

.user-output-plant p,
.user-output-weather p {
    margin: 0.5rem 0;  
    padding: 0.5rem; 
    background-color: #f0f0f0;  
    border-radius: 6px;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}



/* RESPONSIVNESS */
/* Media query for screens smaller than 639px */

@media (max-width: 760px) {
 .user-input{
    flex-direction: column;
    gap: 100px;
  }
}

/* Media query for screens smaller than 639px */
@media (max-width: 640px) {
    header {
        padding: 20px 0; 
        text-align: center; 
    }
    
    nav {
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }
    
    nav h2 {
        font-size: 2rem; 
        padding: 10px; 
    }

    main{
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      min-height: 100vh;
      
       
    }
    #user-output{
      
      flex-direction: column;
      margin: 20px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer a {
        flex-direction: row;
        justify-content: center;
        margin: 5px 0;
    }

    footer i {
        margin-bottom: 0;
        margin-right: 5px;
    }
}


