

/* Variablels used */

:root {
    --font-family: 'Lora', serif;
    --font-color: #F5F5DC;
    --background-color: #6B8E23;
}


/* CSS Resset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
 color: white;
  position: relative;
}

    ol, ul {
    list-style: none;
}

button {
    cursor: pointer;
}

input, button, textarea, select {
    font: inherit;
}


header{
  height: 80px;
  width: 100%;
  background-color: var(--background-color);
}

nav h2{
  padding-left: 80px;
  font-family: var(--font-family);
}


main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  
}


footer{
  position: absolute;
  bottom: 0;
  left:0;
  height: 100px;
  width: 100%;
  background-color: var(--background-color);
}


#wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(../Images/plant.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}


.grid-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

















/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */







/* Tablets - header changes color */
/* @media screen and (max-width: 992px) {
    body {
      background: #772014;
      color: #c5c9e2;
    }
  } */
  
  /* Large smartphones - navbar changes color */
  /* @media screen and (max-width: 768px) {
    body {
      background-color: #bb8588;
      color: #02061b;
    }
  } */
  
  /* Small smartphones - image placeholders change color */
  /* @media screen and (max-width: 576px) {
    body {
      background-color: #8ac4ff;
      color: #3a2403;
    }
  } */
  